@model IEnumerable<Revista_Capacitacion.REVISTAS>

@*<p>
    <br />
    <button class="btn btn-primary" onclick="Create()">Crear</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_REV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITULO_REV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_CIRCULACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_CAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROW_CREATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_REV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITULO_REV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_CIRCULACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_CAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROW_CREATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO)
        </td>
        <td>
            <button class="btn btn-primary" onclick="mostrareditar(@item.ID_REV)">Editar</button> |
            <button class="btn btn-primary" onclick="mostrareliminar(@item.ID_REV)">Eliminar</button>
        </td>
    </tr>
}
</table>*@    

<body class="dx-viewport">
    <div class="container">
        <div id="gridContainer"></div>
    </div>
</body>




@section Scripts
    {
    <script>
        $(function () {
            $("#gridContainer").dxDataGrid({
                dataSource: DataSource,
                paging: {
                    pageSize: 20,
                },
                remoteOperations: false,
                searchPanel: {
                    visible: true,
                    highlightCaseSensitive: true,
                },
                allowColumnReordering: true,
                rowAlternationEnabled: true,
                showBorders: true,
                columns: [
                    {
                        dataField: 'ID_REV',
                        caption: 'REVISTA ID',
                        dataType: 'number',
                        alignment: 'right',
                    },
                    {
                        dataField: 'TITULO_REV',
                        caption: 'TITULO DE REVISTA',
                        dataType: 'string',
                        format: 'text',
                        alignment: 'right',
                    },
                    {
                        dataField: 'FECHA_CIRCULACION',
                        dataType: 'string',
                        format: 'text',
                    },
                    {
                        dataField: 'ID_CAT',
                        dataType: 'number',
                    },
                    {
                        dataField: 'ROW_CREATE',
                        dataType: 'string',
                        format: 'text',
                    },
                    {
                        dataField: 'PRECIO',
                        dataType: 'number',
                    },
                    {
                        caption: 'Editar',
                        type: "buttons",
                        buttons: ["edit", "delete", {
                            text: "Editar",
                            icon: "edit",
                            hint: "Edit data",
                            onClick: function (e) {
                                mostrareditar(e.row.data.ID_REV)
                            }
                        }]
                    },
                    {
                        caption: 'Eliminar',
                        type: "buttons",
                        buttons: ["edit", "delete", {
                            text: "Eliminar",
                            icon: "close",
                            hint: "Delete data",
                            onClick: function (e) {
                                mostrareliminar(e.row.data.ID_REV)
                            }
                        }]
                    },
                ],
                toolbar: {
                    items: [
                        {
                            location: 'before',
                            widget: 'dxButton',
                            options: {
                                hint: "Create data",
                                icon: 'add',
                                text: 'Crear',
                                onClick: function () {
                                    Create()
                                }
                            }
                        },
                    ],
                },
            });
        });

        function Create(id = 0) {
            let titulo = "Agregar";
            if (id > 0) {
                titulo = "Editar";
            }
            var items = [];

            $.ajax({
                type: "GET",
                url: "/Home/getCategorias",
                success: function (respose) {
                    console.log(respose);
                    items = respose;
                }
            })


            let HTML =
                `
                    <label class"form-control">TITULO REVISTA</label>
                    <div id="placeholder"></div>
                    <label class"form-control">CODIGO DE BARRAS</label>
                    <div id="placeholder2"></div>
                    <label class"form-control">FECHA DE CREACION</label>
                    <div id="default"></div>
                    <label class"form-control">CATEGORIA ID</label><br/>
                    <div id="lookup"></div><br/>
                    <label class"form-control">PRECIO</label>
                    <div id="simple"></div>
                    <button id="Aceptar" class="btn">Aceptar</button>
                `;
            Swal.fire({
                title: titulo,
                icon: 'info',
                html: HTML,
                showCloseButton: true,
                showCancelButton: false,
                showConfirmButton: false,
                focusConfirm: false,
                didRender: () => {
                    //texbox para el titulo de la revista
                    $('#placeholder').dxTextBox({
                        placeholder: 'Ingresa Titulo de Revista',
                        label: "Titulo",
                        labelMode: "floating",
                        inputAttr: {
                            id: "TITULO_REV"
                        },
                    }).dxValidator({
                        validationRules: [{
                            type: 'required',
                            message: 'Se requiere titulo',
                        }],
                    });
                    //texbox para el Codigo de barra
                    $('#placeholder2').dxTextBox({
                        placeholder: 'Ingresa Codigo de Barras',
                        inputAttr: {
                            id: "CB"
                        }
                    });
                    //DATEBOX para la fecha de circulacion
                    $('#default').dxDateBox({
                        placeholder: 'Ingresa la Fecha de Circulación',
                        type: 'date',
                        showClearButton: true,
                        displayFormat: 'yyyy-MM-d',
                        useMaskBehavior: true,
                        inputAttr: {
                            id: "FECHA_CIRCULACION"
                        }
                    });
                    //lookup para la categoria
                    $('#lookup').dxLookup({
                        dataSource: DataSourcecat,
                        valueExpr: "ID_CAT",
                        displayExpr: 'NOMBRE_CAT',
                        dropDownOptions: {
                            title: 'Selecciona Categoria',
                        },
                        inputAttr: {
                            id: "ID_CAT"
                        },
                    });
                    //NUMBERBOX para el precio
                    $('#simple').dxNumberBox({
                        inputAttr: {
                           
                            id: "PRECIO"

                        },
                    });


                   

                    document.querySelector("#Aceptar").addEventListener("click", () => {

                        let TITULO_REV = $("#TITULO_REV").val();
                        let CB = $("#CB").val();
                        let FECHA_CIRCULACION = $("#FECHA_CIRCULACION").val();
                        //let ID_CAT = $("#ID_CAT").val("");
                        let PRECIO = $("#PRECIO").val();
                        let ID_CAT = $("#lookup").dxLookup("instance").option('value');

                        console.log("Result:", TITULO_REV, CB, FECHA_CIRCULACION, ID_CAT, PRECIO);
                        var data = {
                            TITULO_REV: TITULO_REV,
                            CB: CB,
                            FECHA_CIRCULACION: FECHA_CIRCULACION,
                            ID_CAT: ID_CAT,
                            PRECIO: PRECIO
                        }
                        var url =  "@Url.Action("Create2", "Home")";

                        console.log(data)

                        $.post(url, data).done(function (e) {
                            console.log(e);
                            Swal.fire({
                                icon: 'success',
                                title: 'Revista guardada con éxito!',
                                showConfirmButton: false,
                                timer: 1500
                            })


                        })

                    });
                }
            })
        }

        var DataSourcecat = new DevExpress.data.DataSource({
            store: new DevExpress.data.CustomStore({
                key: "ID_CAT",
                loadMode: "raw",
                load: function (loadOptions) {
                    return $.getJSON('/Home/getCategorias/');
                },
            })
        });

        function mostrareditar(Id = 0)
        {
            let titulo = "123"
            if (Id > 0) {
                titulo = "Editar";
            }
            let HTML =
                `
                    <label class"form-control">ID REVISTA</label>
                    <input type="email" class="form-control" id="ID_REV" aria-describedby="emailHelp" readonly onmousedown="return false;">
                    <label class"form-control">TITULO REVISTA</label>
                    <input type="email" class="form-control" id="TITULO_REV" aria-describedby="emailHelp">
                    <label class"form-control">CODIGO DE BARRA</label>
                    <input type="email" class="form-control" id="CB" aria-describedby="emailHelp">
                    <label class"form-control">FECHA DE CIRCULACION</label>
                    <input type="email" class="form-control" id="FECHA_CIRCULACION" aria-describedby="emailHelp">
                    <label class"form-control">CATEGORIA ID</label>
                    <input type="email" class="form-control" id="ID_CAT" aria-describedby="emailHelp">
                    <label class"form-control">PRECIO</label>
                    <input type="email" class="form-control" id="PRECIO" aria-describedby="emailHelp">
                    <button id="Aceptar" class="btn">Aceptar</button>
                `;
            Swal.fire({
                title: titulo,
                icon: 'info',
                html: HTML,
                showCloseButton: true,
                showCancelButton: false,
                showConfirmButton: false,
                focusConfirm: false,
                didRender: () => {

                    var url = "@Url.Action("Edit", "Home")";
                    console.log(Id);
                    $.get(url, { Id: Id }).done((data) => {
                        console.log(ID_REV)
                        console.log(data.TITULO_REV);
                        console.log(data.CB);
                        console.log(data.FECHA_CIRCULACION);
                        console.log(data.ID_CAT);
                        console.log(data.PRECIO);

                        $("#ID_REV").val(data.ID_REV);
                        $("#TITULO_REV").val(data.TITULO_REV);
                        $("#CB").val(data.CB);
                        $("#FECHA_CIRCULACION").val(data.FECHA_CIRCULACION);
                        $("#ID_CAT").val(data.ID_CAT);
                        $("#PRECIO").val(data.PRECIO);
                    }).fail((data) => {
                        console.log(data.TITULO_REV);
                    });

                    document.querySelector("#Aceptar").addEventListener("click", () => {

                        window.location.reload();
                            let ID_REV = $("#ID_REV").val();
                            let TITULO_REV = $("#TITULO_REV").val();
                            let CB = $("#CB").val();
                            let FECHA_CIRCULACION = $("#FECHA_CIRCULACION").val();
                            let ID_CAT = $("#ID_CAT").val();
                            let PRECIO = $("#PRECIO").val();

                        var data = {
                            ID_REV: ID_REV,
                            TITULO_REV: TITULO_REV,
                            CB: CB,
                            FECHA_CIRCULACION: FECHA_CIRCULACION,
                            ID_CAT: ID_CAT,
                            PRECIO: PRECIO
                        }
                        var url =  "@Url.Action("Edit2", "Home")";

                        $.post(url, data).done(function (e) {
                            console.log(e);
                            Swal.fire({
                                icon: 'success',
                                title: 'Revista guardada con éxito!',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            //GridView1.DataBind();
                        })
                    });

                }
            })
        }

        function mostrareliminar(Id = 0)
        {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Estas seguro ?',
                text: "No podras revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si, borra esto!',
                cancelButtonText: 'No, Cancelalo!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    @*var url = "@Url.Action("Delete","Home")";

                    $.get(url, { Id: Id }.done((data) => {
                        console.log("borrado");
                    }).fail((data) => {
                        console.log("no borrado");
                    });*@

                    $.ajax({
                        type: "GET",
                        url: "/Home/Delete",
                        data: { Id: Id },
                        success: function (respose) {
                            console.log(respose);
                        }
                    })

                    swalWithBootstrapButtons.fire(
                        'Borrado!',
                        'Tu archivo a sido borrado',
                        'Listo'
                    )

                    //GridView1.DataBind();
                    //window.location.reload()
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelado',
                        'Salvaste a este registro:)',
                        'error'
                    )
                }
            })
        }

        var DataSource = new DevExpress.data.DataSource({
            store: new DevExpress.data.CustomStore({
                key: "ID_REV",
                loadMode: "raw",
                load: function (loadOptions) {
                    return $.getJSON('/Home/getRevistas');
                },
                //insert: function (values) {
                //},
                //update: function (key, values) {
                //},
                //remove: function (key) {

                //}
            })
        });


    </script>
    }
