@model IEnumerable<Revista_Capacitacion.REVISTAS>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_REV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITULO_REV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_CIRCULACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_CAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROW_CREATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_REV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITULO_REV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_CIRCULACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_CAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROW_CREATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_REV }) |
            @Html.ActionLink("Details", "Details", new { ID_REV = item.ID_REV }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_REV })
        </td>
    </tr>
}

</table>
